footer {
  display: flex;
  flex-direction: column;
  background-color: #1a2b49;
  color: white;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  padding: 40px 20px;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.selection {
  gap: 10px;
}
.selection select {
  padding: 10px;
}
.selection select:focus {
  outline: none;
}
.section ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 5px;
}
.section ul li {
  cursor: pointer;
}
.section ul li:hover {
  text-decoration: underline;
}
.section .social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 5px;
}
.social-media img {
  width: 30px;
}
footer .copy-right {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
