.single-tour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}
.tour-step {
  display: flex;
  gap: 5px;
  color: #999;
  margin-bottom: 20px;
}
.single-tour .tour-img-label {
  position: unset;
  z-index: -1;
  padding: 15px;
  font-size: 30px;
}
.details {
  display: flex;
  gap: 20px;
}
.provider {
  color: blue;
  font-weight: 600;
}
.provider span {
  font-size: 18px;
  color: black;
}
.single-tour img {
  width: 50%;
  align-self: center;
}
.tour-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tour-info .info {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tour-info .save-up {
  background-color: rgb(255, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  text-align: end;
  color: rgb(255, 0, 0, 0.7);
  font-size: 17px;
  font-weight: 600;
}
.tour-info p {
  background-color: rgb(0, 255, 0, 0.1);
  width: fit-content;
  padding: 5px;
  margin-left: 5%;
  color: green;
  border-radius: 10px;
}
.tour-info .book-now {
  display: flex;
  margin-left: 5%;
  gap: 10px;
}
.tour-info .price {
  display: flex;
  flex-direction: column;
  color: red;
  font-weight: 600;
}
.tour-info .price span {
  color: #999;
  font-weight: 500;
}
.tour-info button {
  padding: 10px;
  font-size: 17px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.tour-info button:hover {
  color: black;
  background-color: rgb(206, 162, 247);
}
.tour-info .more-details {
  margin-left: 5%;
  padding: 10px 0;
}
.tour-info .more-details i {
  color: rgb(0, 197, 0);
}
@media (max-width: 720px) {
  .tour-info {
    flex-direction: column;
  }
  .tour-info img {
    width: 80%;
  }
}
